
#container {
    padding: 1.5rem; 
    max-width: 500px;
    width: 80%;
    margin: auto;
}

hr {
    height: 3px;
}


.item p {
    display: inline-block;

}


.title {
    width: 70%;
}

.price {
    width: 25%;
}

